<ion-header [translucent]="true">
 
</ion-header>
<ion-content [fullscreen]="true">
  
  <div class="container">
    <div class="header">
    <div class="logo">
      <div class="nikelogo">
    <img id="nikeimg" src="assets/imgs/nike.png">
        </div >
      </div>
    </div>
    <div class="tenisdiv">
        <img id="tenisimg" src="assets/imgs/tenisniketabs1.png" alt="Nike Summer Collections 2022">
      </div>    
    <!-- Conteúdo de texto -->
    <div class="text-content">
      <h2>SUMMER COLLECTIONS </h2>
      <h2 id="ano"> 2022</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suspendisse a massa vitae justo lacinia accumsan.</p>
      <button >GET STATED <ion-icon name="arrow-forward-outline"></ion-icon></button>
      
    </div>
  </div>
  

 
</ion-content>